{% extends 'base.html' %}

{% block head %}
<title>Tech articles written by the git brothers.</title>
{% endblock %}

{% block body %}
  {% for post in post_page.items %}
    <div class="container">
      <div class="row justify-content-center">
        {% if post.head_image %}
          <div class="h-50 w-50 d-flex">
            <img src="{{post.head_image}}" alt="head image">
          </div>
        {% else %}

        {% endif %}
      </div>
      <div class="row justify-content-center">
        <h4>
          <a href="{{url_for('display_article', id=post.article_id)}}" class="headings">
            {{ post.title }}
          </a>
        </h4>
      </div>
      <div class="row justify-content-center greenify sourcecodefont">
        <p>
          By: {{ post.author }}
        </p>
      </div>
      <div class="row justify-content-center greenify sourcecodefont">

        <p>
          {% for Top in post.topics %}
            {{ Top.topic_name }}
          {% endfor %}
        </p>

      </div>
      <div class="row justify-content-center greenify sourcecodefont">
        <p>
          {{ post.date_time }}
        </p>
      </div>


    </div>


    <hr>
  {% endfor %}
    <div class="row justify-content-center">
  {% for page in post_page.iter_pages() %}
    {% if page %}
      <a href="{{ url_for('index', page_num=page) }}"> {{ page }} </a>
    {% else %}
      ...
    {% endif %}
  {% endfor %}
    </div>
{% endblock %}
