{% extends 'base.html' %}

{% block head %}
<title>Tech articles written by the git brothers.</title>
{% endblock %}

{% block body %}
  {% for post in post_page.items %}
    <div>
      <div>
        <h4>
          <a href="{{url_for('display_article', id=post.article_id)}}" class="text-dark">
            {{ post.title }}
          </a>
        </h4>
      </div>
      <div>
        <h6>
          By: {{ post.author }}
        </h6>
      </div>
    </div>
    <hr>
  {% endfor %}
  {% for page in post_page.iter_pages() %}
    {% if page %}
      <a href="{{ url_for('index', page_num=page) }}"> {{ page }} </a>
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock %}
