{% extends 'base.html' %}

{% block head %}
<title>Happy Writing</title>
{% endblock %}

{% block body %}
{% if alert %}
  <div class="alert alert-danger" role="alert">
    {{ alert }}
  </div>
{% endif %}
<form action="/Write-Article" method="POST" enctype="multipart/form-data">
  <label for="title">
    <h5>
      Title:
    </h5>
  </label>
  <input class="form-control" type="text" name='title' id='title' placeholder="Enter Title" aria-label="Enter Title">
  <div class="form-group">
    <label for="content">
      <h5>
        Post:
      </h5>
    </label>
    <textarea class="form-control" name="content" id="content" placeholder="Enter Content" aria-label="Enter Content" rows="3"></textarea>
  </div>
  <br>
  <h5>
    Article Banner Image:
  </h5>
  <input class="form-control" type="text" name="image" id="image" placeholder="Enter image link" aria-label="Add link to an image">
  <br>
  <h5>
    Type you're article subjects seperated by doubble colons without spaces ::
  </h5>
  <input class="form-control" type="text" name="subjects" id="subjects" placeholder="Enter subjects" aria-label="Enter subjects">
  <br>
  <input type="submit" value="Post">
</form>

{% endblock %}
